.full{
height: 100vh;
  background-color: rgb(253, 253, 253);
  margin-top: 10px;}
  
.head{
    height: 25vh;
      background-color: rgb(196, 209, 78);
      margin-top: 10px;
}
.body{
  height: 100vh;
    background-color: rgb(56, 150, 250);
    
}
.form{
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 5px;
}